################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ServicioApi/FileContentIndex/3910d996-711c-46b0-a078-a17d1224d632.vsidx
/.vs/ServicioApi/FileContentIndex/c52dcf33-5ce8-4e93-92fa-0b193c589ad5.vsidx
